parameters:
    level: 8
    paths:
        - app
    excludePaths:
        - app/helpers.php
    
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
    
    treatPhpDocTypesAsCertain: false
    
    bootstrapFiles:
        - test/bootstrap.php
